node_modules
**/dist
**/build
**/lib
**/*.tsbuildinfo

# Assets bundled into executable - meant to be used in standalone context so issues in paima-engine repository are irrelevant (eg. missing node_modules)
paima-standalone/packaged
