{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "printWidth": 100,
  "arrowParens": "avoid",
  "plugins": ["prettier-plugin-solidity", "prettier-plugin-organize-imports"],
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "parser": "solidity-parse"
      }
    }
  ]
}