**/*.queries.ts
**/*.d.ts
contract-types/
packaged/
packages/engine/paima-rest/src/tsoa/routes.ts
packages/contracts/evm-contracts/test-lib
packages/contracts/evm-contracts/typechain-types
**/dist
**/build
bin/
