node_modules
*.tsbuildinfo

build
lib
dist
dist-ssr

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

*.local

.env
.env.testnet
.env.mainnet

# Compiled contracts
packages/contracts-evm/build/
packages/contracts-evm/ignition/deployments/

# Foundry cache
cache/
out/
